
{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}


    <!-- Start Page Title Area -->
    <div class="page-title-area page-title-style-two">
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <!-- End Page Title Area -->


    <!-- Start New App Progress Area -->
<div class="new-app-progress-area ptb-75">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="new-app-progress-content">
                    <div class="big-text">Progress</div>
                    <span class="sub-title">About Us</span>
                    <h2>About the history of Webroj</h2>
                    <p>Webroj is one of the quickest Web Development, Mobile app Development and most acknowledged in all over world. Webroj is known for its imaginative and one of a kind structuring abilities. We expect to change over remarkable thoughts into creative sites. </p>
                    <p>We expect to make your online business experience smooth, expedient and productive. With our key advertising approach, we make your business emerge from the challenge and increment deals. </p>
                    {% comment %} <a href="{% url 'my-contact' %}" class="default-btn">Contact Us</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="new-app-progress-image text-center">
                    <img src="/static/img/progress.png" alt="app-img">
                </div>
            </div>
        </div>
    </div>
    <div class="new-app-progress-shape">
        <img src="/static/img/shape-8.png" alt="image">
    </div>
</div>
<!-- End New App Progress Area -->

    
<div class="stats-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR STATS</span>
            <h2>Total User In This World</h2>
        </div>
        <div class="stats-map text-center">
            <img src="static/img/map.png" alt="map">
        </div>
    </div>
</div>


<!-- Start Partner Area -->
<div class="partner-area ptb-75">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner1.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner2.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner3.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner4.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner5.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner6.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner7.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="/static/img/partner8.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->


       
{% endblock body %}
