
{% extends 'base.html' %}
{% block title %} Career {% endblock title %}
{% block body %}

  
 <!-- Start Page Title Area -->
 <div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>We're Hiring</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Career</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

        <!-- Start FAQ Area -->
        <div class="faq-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="faq-sidebar">
                            <ul>
                                <li>
                                        <img src="/static/img/hiring.png" alt="image">
                                </li>
                            </ul>
                            {% comment %} <ul>
                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Front End Developer </a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">MERN Developer</a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Python Developer</a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Android Developer</a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Artificial intelligence</a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Machine Learning</a>
                                </li>

                                <li>
                                    <a href="" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Data Science</a>
                                </li>
                            </ul> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="faq-accordion accordion" id="faqAccordion">

                            <div class="accordion-item">
                                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Front End Developer Job Summary</button>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p><strong><a href="#">Company</a></strong>
                                            is always looking for talented information security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Company</strong>, a company who values you and your family, visit our careers page.</p>                                        
                                    </div>
                                    <div class="card-body"><hr>
                                        <div class="content_text"><strong>LOCATION :</strong> Noida</div><hr>
                                        <div class="content_text"><strong>EXPERIENCE :</strong> 2 to 4 years</div><hr>
                                        <div class="content_text"><strong>DESIGNATION :</strong> Front End Developer</div><hr>
                                        <div class="content_text"><strong>QUALIFICATION :</strong> Any Graduate in Any Specialization</div><hr>
                                        
                                        <div class="content_text"><strong> Job Responsibilities :</strong></div><br>
                                        <i class="fa fa-angle-double-right"></i> Good hands-on PSD to HTML.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience on SASS & LESS.<br>
                                        <i class="fa fa-angle-double-right"></i> Preferred strong (HTML 5 & CSS 3.0) JQuery, JavaScript.<br>
                                        <i class="fa fa-angle-double-right"></i> Added Advantage ANGULAR 2 /4 or REACT JS.<br>
                                        <i class="fa fa-angle-double-right"></i> Good understanding of Core PHP, Web Services and XML APIs.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience with the full software development life cycle, including design, testing, deployment, and documentation activities.<br>
                                        <i class="fa fa-angle-double-right"></i> Knowledge of Object Oriented design, UML, design patterns and PHP.<br>
                                        <i class="fa fa-angle-double-right"></i> Team-oriented, meticulous, rigorous, attention to details, strong customer focus.<br>
                                        <i class="fa fa-angle-double-right"></i> Can work as Individual Contributor (IC) and handling team will be added advantage.<br>
                                        
                                    </div>

                                    <div class="others-option">
                                        {% comment %} <a href="{% url 'my-hire' %}" class="default-btn">Apply Now</a> {% endcomment %}
                                    </div><hr>
                                        
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Django Developer Job Summary</button>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p><strong><a href="#">Company</a></strong>
                                            is always looking for talented information security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Company</strong>, a company who values you and your family, visit our careers page.</p>                                        
                                    </div>
                                    <div class="card-body"><hr>
                                        <div class="content_text"><strong>LOCATION :</strong> Noida</div><hr>
                                        <div class="content_text"><strong>EXPERIENCE :</strong> 2 to 4 years</div><hr>
                                        <div class="content_text"><strong>DESIGNATION :</strong> Front End Developer</div><hr>
                                        <div class="content_text"><strong>QUALIFICATION :</strong> Any Graduate in Any Specialization</div><hr>
                                        
                                        <div class="content_text"><strong> Job Responsibilities :</strong></div><br>
                                        <i class="fa fa-angle-double-right"></i> Good hands-on PSD to HTML.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience on SASS & LESS.<br>
                                        <i class="fa fa-angle-double-right"></i> Preferred strong (HTML 5 & CSS 3.0) JQuery, JavaScript.<br>
                                        <i class="fa fa-angle-double-right"></i> Added Advantage ANGULAR 2 /4 or REACT JS.<br>
                                        <i class="fa fa-angle-double-right"></i> Good understanding of Core PHP, Web Services and XML APIs.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience with the full software development life cycle, including design, testing, deployment, and documentation activities.<br>
                                        <i class="fa fa-angle-double-right"></i> Knowledge of Object Oriented design, UML, design patterns and PHP.<br>
                                        <i class="fa fa-angle-double-right"></i> Team-oriented, meticulous, rigorous, attention to details, strong customer focus.<br>
                                        <i class="fa fa-angle-double-right"></i> Can work as Individual Contributor (IC) and handling team will be added advantage.<br>
                                        
                                    </div>

                                    <div class="others-option">
                                        {% comment %} <a href="{% url 'my-hire' %}" class="default-btn">Apply Now</a> {% endcomment %}
                                    </div><hr>
                                        
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Python Developer Job Summary</button>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p><strong><a href="#">Company</a></strong>
                                            is always looking for talented information security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Company</strong>, a company who values you and your family, visit our careers page.</p>                                        
                                    </div>
                                    <div class="card-body"><hr>
                                        <div class="content_text"><strong>LOCATION :</strong> Noida</div><hr>
                                        <div class="content_text"><strong>EXPERIENCE :</strong> 2 to 4 years</div><hr>
                                        <div class="content_text"><strong>DESIGNATION :</strong> Front End Developer</div><hr>
                                        <div class="content_text"><strong>QUALIFICATION :</strong> Any Graduate in Any Specialization</div><hr>
                                        
                                        <div class="content_text"><strong> Job Responsibilities :</strong></div><br>
                                        <i class="fa fa-angle-double-right"></i> Good hands-on PSD to HTML.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience on SASS & LESS.<br>
                                        <i class="fa fa-angle-double-right"></i> Preferred strong (HTML 5 & CSS 3.0) JQuery, JavaScript.<br>
                                        <i class="fa fa-angle-double-right"></i> Added Advantage ANGULAR 2 /4 or REACT JS.<br>
                                        <i class="fa fa-angle-double-right"></i> Good understanding of Core PHP, Web Services and XML APIs.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience with the full software development life cycle, including design, testing, deployment, and documentation activities.<br>
                                        <i class="fa fa-angle-double-right"></i> Knowledge of Object Oriented design, UML, design patterns and PHP.<br>
                                        <i class="fa fa-angle-double-right"></i> Team-oriented, meticulous, rigorous, attention to details, strong customer focus.<br>
                                        <i class="fa fa-angle-double-right"></i> Can work as Individual Contributor (IC) and handling team will be added advantage.<br>
                                        
                                    </div>

                                    <div class="others-option">
                                        {% comment %} <a href="{% url 'my-hire' %}" class="default-btn">Apply Now</a> {% endcomment %}
                                    </div><hr>
                                        
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Android Developer Job Summary</button>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p><strong><a href="#">Company</a></strong>
                                            is always looking for talented information security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Company</strong>, a company who values you and your family, visit our careers page.</p>                                        
                                    </div>
                                    <div class="card-body"><hr>
                                        <div class="content_text"><strong>LOCATION :</strong> Noida</div><hr>
                                        <div class="content_text"><strong>EXPERIENCE :</strong> 2 to 4 years</div><hr>
                                        <div class="content_text"><strong>DESIGNATION :</strong> Front End Developer</div><hr>
                                        <div class="content_text"><strong>QUALIFICATION :</strong> Any Graduate in Any Specialization</div><hr>
                                        
                                        <div class="content_text"><strong> Job Responsibilities :</strong></div><br>
                                        <i class="fa fa-angle-double-right"></i> Good hands-on PSD to HTML.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience on SASS & LESS.<br>
                                        <i class="fa fa-angle-double-right"></i> Preferred strong (HTML 5 & CSS 3.0) JQuery, JavaScript.<br>
                                        <i class="fa fa-angle-double-right"></i> Added Advantage ANGULAR 2 /4 or REACT JS.<br>
                                        <i class="fa fa-angle-double-right"></i> Good understanding of Core PHP, Web Services and XML APIs.<br>
                                        <i class="fa fa-angle-double-right"></i> Experience with the full software development life cycle, including design, testing, deployment, and documentation activities.<br>
                                        <i class="fa fa-angle-double-right"></i> Knowledge of Object Oriented design, UML, design patterns and PHP.<br>
                                        <i class="fa fa-angle-double-right"></i> Team-oriented, meticulous, rigorous, attention to details, strong customer focus.<br>
                                        <i class="fa fa-angle-double-right"></i> Can work as Individual Contributor (IC) and handling team will be added advantage.<br>
                                        
                                    </div>

                                    <div class="others-option">
                                        {% comment %} <a href="{% url 'my-hire' %}" class="default-btn">Apply Now</a> {% endcomment %}
                                    </div><hr>
                                        
                                </div>
                            </div>


                           

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End FAQ Area -->

       
    {% endblock body %}
