{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}

    <!-- Start New App Main Banner Area -->
    <div class="new-app-main-banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="new-app-main-banner-content">
                        <div class="content">
                            <div class="name-big-text">Webroj</div>
                            
                            <h1>Everything starts with Ambition.</h1>
                            <p>To amplify human potential and create the next opportunity for people, businesses and communities.<br></p>
                                {% comment %} We create Web Design & Development, Mobile Apps, Machine learning.<br></p> {% endcomment %}

                            <div class="app-btn-box">
                                {% comment %} <a href="{% url 'my-contact' %}" class="applestore-btn" target="_blank">
                                    <img src="/static/img/cont.png" alt="image">
                                    
                                    <span>Contact Us</span>
                                </a> {% endcomment %}

                              
                            </div>

                            <div class="content-shape">
                                <img src="/static/img/content-shape.png" alt="image">
                            </div>
                        </div>

                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="new-app-main-banner-image" data-aos="fade-up" data-aos-duration="2000">
                        <img src="/static/img/banner-1.png" alt="image">

                        {% comment %} <div class="wrap-shape-1">
                            <img src="/static/img/shape-1.png" alt="image">
                        </div>
                        <div class="wrap-shape-2">
                            <img src="/static/img/shape-2.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-app-banner-bg-shape">
            <img src="/static/img/banner-shape.png" alt="image">
        </div>
        <div class="new-app-banner-strock-shape">
            <img src="/static/img/strock.png" alt="image">
        </div>
    </div>
    <!-- End New App Main Banner Area -->



    < Start App About Area -->
    <div class="app-about-area pb-75">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-12">
                    <div class="app-about-content">
                        <div class="big-text">About Us</div>
                        <span class="sub-title">Trusted and reliable</span>
                        <h2>Most Probably you are getting best app ever</h2>
                        <ul class="list">
                            <li>
                                <div class="icon">
                                    <i class="ri-eye-line"></i>
                                </div>
                                <h3>High Resolution</h3>
                                <p>Most provabily best you can trust on it, just log in your mail account from play store & using whatever you want for your business.</p>
                            </li>
                            

                            <li>
                                <div class="icon bg2">
                                    <i class="ri-download-cloud-2-line"></i>
                                </div>
                                <h3>Easy Editable Data</h3>
                                <p>Just log in with your mail account from play store and using whatever you want for your business purpose.</p>
                            </li>

                            <li>
                                <div class="icon bg2">
                                    <i class="ri-leaf-line"></i>
                                </div>
                                <h3>Cloud Storage</h3>
                                <p>Just log in with your mail account from play store and using whatever you want for your business purpose.</p>
                            </li>
                        </ul>
                        <div class="btn-box">
                            <a href="{% url 'my-about' %}" class="default-btn">About Us</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="app-about-image">
                        <img src="/static/img/about.png" alt="image">
                    </div>
                </div>

            </div>
        </div>

    </div>
<!-- End App About Area -->



    <!-- Start Gradient Funfacts Area -->
    <div class="gradient-funfacts-area ptb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-funfacts-card">
                        <div class="icon">
                            <i class="ri-download-2-line"></i>
                        </div>
                        <p>Total Downloads</p>
                        <h3><span class="odometer" data-count="2">00</span><span class="sign">k</span></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-funfacts-card">
                        <div class="icon">
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Total Reviews</p>
                        <h3><span class="odometer" data-count="205">00</span><span class="sign">User</span></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-funfacts-card">
                        <div class="icon">
                            <i class="ri-global-line"></i>
                        </div>
                        <p>India</p>
                        <h3><span class="odometer" data-count="15">00</span><span class="sign">+</span></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-funfacts-card">
                        <div class="icon">
                            <i class="ri-map-pin-user-line"></i>
                        </div>
                        <p>Active Users</p>
                        <h3><span class="odometer" data-count="2">00</span><span class="sign">k</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Gradient Funfacts Area -->

    
    
    <!-- Start New App Progress Area -->
<div class="new-app-progress-area ptb-75">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="new-app-progress-content">
                    <div class="big-text">Progress</div>
                    <span class="sub-title">APP PROGRESS</span>
                    <h2>Set Up The Challenges and Track Your Progress</h2>
                    <p>Cloud based storage for your data backup just log in with your mail account from play store and using whatever you want for your business purpose. never missyour chance its just began. backup just log in with your mail account from.</p>
                    <p>Most provabily best  for your data backup just log in with your mail account from play store and using whatever you want for your business purpose. backup just log in with your mail account from.</p>
                    {% comment %} <a href="{% url 'my-contact' %}" class="default-btn">Contact Us</a> {% endcomment %}
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="new-app-progress-image text-center">
                    {% comment %} <img src="/static/img/app-img2.png" alt="app-img"> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="new-app-progress-shape">
        <img src="/static/img/shape-8.png" alt="image">
    </div>
</div>
<!-- End New App Progress Area -->

    
    <!-- Start New Feedback Area -->
    <div style="background-color:#F4F8FC;" class="new-feedback-area ptb-75" >
        <div class="container">
            <div class="section-title title-with-bg-text">
                <div class="big-title" >Reviews</div>
                <span class="sub-title">CLIENT REVIEWS</span>
                <h2>Some of Our Happy Customer Reviews About Our Products</h2>
            </div>
            <div class="new-feedback-slides owl-carousel owl-theme">
                <div class="single-feedback-card">
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="/static/img/user1.jpg" alt="user">
                            <div class="title">
                                <h3>Deanna Hodges</h3>
                                <span>Django Developer</span>
                            </div>
                        </div>
                    </div>
                    <p>"it must always remain framed by your project goals and metrics for success."</p>
                    <div class="rating d-flex align-items-center justify-content-between">
                        <h5>Theme Customization</h5>
                        <div>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="single-feedback-card">
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="/static/img/user2.jpg" alt="user">
                            <div class="title">
                                <h3>Londynn Vargas</h3>
                                <span>PHP Developer</span>
                            </div>
                        </div>
                    </div>
                    <p>"it must always remain framed by your project goals and metrics for success."</p>
                    <div class="rating d-flex align-items-center justify-content-between">
                        <h5>Mobile App </h5>
                        <div>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="single-feedback-card">
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="/static/img/user3.jpg" alt="user">
                            <div class="title">
                                <h3>James Andy</h3>
                                <span>Moodle Developer</span>
                            </div>
                        </div>
                    </div>
                    <p>"it must always remain framed by your project goals and metrics for success."</p>
                    <div class="rating d-flex align-items-center justify-content-between">
                        <h5>Responsive Design</h5>
                        <div>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                        </div>
                    </div>
                </div>
                <div class="single-feedback-card">
                    <div class="client-info">
                        <div class="d-flex align-items-center">
                            <img src="/static/img/user4.jpg" alt="user">
                            <div class="title">
                                <h3>David Warner</h3>
                                <span>Python Developer</span>
                            </div>
                        </div>
                    </div>
                    <p>"it must always remain framed by your project goals and metrics for success."</p>
                    <div class="rating d-flex align-items-center justify-content-between">
                        <h5>Design Quality</h5>
                        <div>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!-- End New Feedback Area -->


    
    <!-- Start Partner Area -->
    <div class="partner-area ptb-75">
        <div class="container">
            <div class="partner-slides owl-carousel owl-theme">
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner1.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner2.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner3.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner4.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner5.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner6.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner7.png" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#" class="d-block">
                        <img src="/static/img/partner8.png" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Partner Area -->

{% endblock body %}
