
{% extends 'base.html' %}
{% block title %} Team {% endblock title %}
{% block body %}


    <body>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-style-two">
            <div class="container">
                <div class="page-title-content">
                    <h2>Meet With Our Team Member</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Team</li>
                    </ul>
                </div>
            </div>
            <div class="divider"></div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Team Area -->
        <div class="team-area pt-100 pb-75">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Himanshu Chauhan</h3>
                                <span>Project Manager</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Prashant Kumar</h3>
                                <span>Sr. Web Developer</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Mukesh Kumar</h3>
                                <span>Sr. Front-End Developer </span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Ios Developer</h3>
                                <span>Arjun singh</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Ravinder Singh</h3>
                                <span>Android Developer</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Amit Shekhawat</h3>
                                <span>Php Developer</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Krishna Murari</h3>
                                <span>Data Science</span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="static/img/team1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>Paras Kumar</h3>
                                <span>Django Developer </span>
                            </div>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Team Area -->

       



        <div class="go-top"><i class="ri-arrow-up-s-line"></i></div>

        

    {% endblock body %}
